<section class="container__big-card">

	<div class="big-card__photo">
		<img
			src="https://d2d7ho1ae66ldi.cloudfront.net/ArquivoNoticias/7ec0067a-460f-11ec-aa6e-9587410378a2/marvel-disney-plus-shows.jpg"
			alt="sem imagem"
		>
	</div>

	<div class="big-card__title">
		<p>22 Julho 2023</p>
		<h2><a href="">Saiu a nova versão do Angular</a></h2>
	</div>

	<div class="big-card__description">
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, sint minus vel dolorum dolores, reiciendis numquam praesentium quasi placeat temporibus, impedit explicabo hic. Aliquid quae quos autem consequuntur. Possimus, aliquid.</p>
	</div>

</section>
