.container__big-card {
	min-height: auto;

	display: flex;
	flex-direction: column;
	row-gap: 15px;
	align-items: start;
	margin-bottom: 20px;
}

.big-card__photo,
.big-card__title {
	width: 100%;
}

.big-card__photo {
	object-fit: cover;
	object-position: center;
}

.big-card__photo img {
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.big-card__title,
.big-card__description {
	max-width: 90%;
	text-align: left;
}
