.container__menu-bar > ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 30px;

	margin: 20px 0;
}

.container__menu-bar ul li a {
	transition: color ease-in-out .2s;
}

.container__menu-bar ul li a:hover {
	color: grey;
}
