/* You can add global styles to this file, and also import other style files */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #111111;
	color: #fff;
	font-family: 'Segoe UI', sans-serif;
}

body {
	padding: 0 25px;
	max-width: 1400px;
	margin: auto;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

p {
	color: grey;
}

h1, h2, h3 {
	text-transform: uppercase;
}

.hr {
	border: .1px solid rgba(68, 68, 68, .5);
	margin: 20px 0;
}

.hr-bar {
	border: .1px solid rgba(68, 68, 68, .5);
}
